<?xml version="1.0" encoding="utf-8"?>
<hibernate-configuration>
    <session-factory>
        <!-- 1. Драйвер для MySQL -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>


        <!-- 2. URL (замените my_database_name на имя вашей схемы) -->
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/people?serverTimezone=UTC</property>

        <!-- 3. Учетные данные -->
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">1234</property>

        <!-- 4. Диалект (для версии MySQL 8.0 и выше) -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Дополнительные полезные настройки -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">create</property>

        <!-- Регистрация ваших классов-сущностей -->
        <mapping class="org.example.hibernateHierarchy.DAO.Task"/>
        <mapping class="org.example.hibernateHierarchy.DAO.HomeTask"/>
        <mapping class="org.example.hibernateHierarchy.DAO.WorkTask"/>
        <mapping class="org.example.hibernateHierarchy.DAO.Address"/>
    </session-factory>
</hibernate-configuration>
